@import 'custom';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'config';

body {
  background-color: $bg-color;
}

#content {
  width: 100vw;
}

.weather-display-section {
  height: 376px;
  opacity: 0;

  .row-icon {
    height: 148px;
  }
}

.input-section {
  input[type='search'] {
    background-color: $bg-color;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
}
